
*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration:: none;
}

body
{
    background-color: gray;
}

#container
{
    margin: 30px auto;
    width: 500px;
}

#my_canvas
{
    background-color: white;
}
